import {{pascalCase name}} from '{{path}}/{{pascalCase name}}'

import * as S from './styles'

// ATENÇÃO:
// remover any e definir os types
const {{pascalCase name}} = (props): any => {
  return (
    <S.Wrapper>
      <h1>{props.heading}</h1>
    </S.Wrapper>
  )
}

// ATENÇÃO:
// os métodos getStaticProps/getServerSideProps SÓ FUNCIONAM EM PAGES

// getStaticProps => gerar estático em build time
// getServerSideProps => gerar via ssr a cada request
// getInitialProps => gerar via ssr a cada request
export function getServerSideProps() {
  // faz lógica
  // pode ser buscar dados numa API
  // fazer calculo|leitura de context

  // retorno dos dados
  return {
    props: {
      heading: '{{pascalCase name}}'
    }
  }
}

export default {{pascalCase name}}
